/*html {
font-family: GillSans, Calibri, Trebuchet, sans-serif;
}*/



body {
  background: url("food-cold-wood-hand.jpg");
  background-size: cover;
}

#beerOutline {
  margin-left: 5px;
  padding-top: 23px;
}
.logo {
  font-size: 65px;
  font-family: Antic Slab;
  text-shadow: 2px 2px black;
}

.toast {
  background-color: #F9C300;
  color: black
}

/*Input label color*/
input[type=text]:focus:not([readonly])+label {
  color: #F9C300
}

.logo:hover {
  text-shadow: 3px 3px black
}

.tagline {
  color: white;;
  font-family: Antic Slab;
  font-size: 30px;
  text-shadow: 1px 1px black;
  background-color: #F9C300;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px
}

/*Recues space between nav bar and content below*/
.belowNav {
  margin-top: -3rem;
}

nav {
  background-color: #F9C300
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly])  {
  border-bottom: 1px solid #4984a1;
  box-shadow: 0 1px 0 0 #4984a1;
}

.btn, .btn-large {
  background-color: #4984a1;
}

.btn-floating {
  background-color: #4984a1;
  margin-left: 8px
}

/* Starter checkbox*/
[type="checkbox"]:checked+label:before {
  border-right: 2px solid #F9C300;
  border-bottom: 2px solid #F9C300;
}

.row {
  margin-bottom: 10px;
}

.belowGrainsTableHeader {
  margin-bottom: 0
}

btn:hover {
  background-color: #8D8D8D;
}

.question {
  font-family: Molengo
}

.cheers {
  font-size: 35px;
  text-shadow: 1px 1px black;
  padding-right: 25px;
  padding-top: 20px
}

h1 {
  font-size: 3vw;
  color: #4984a1;
  font-style: italic;
}

h5 {
  background-color: #4984a1;
  color: white;
  padding-left: 5px
}

td, th {
  padding: 0 0 0 0;
}

input[type=text] {
  margin: 0 0 0 0;
}

/* Beer style and name input style */
input:not([type]) {
  color: #8D8D8D;
  height: 4vw;
  font-size: 4vw;
}

.mashCalc {
  padding-left: 10.875px;
}


/* --- Header input text --- */
.headerRow input[type=text] {
  font-size: 2vw;

}

/* --- Yeast Starter Checkbox --- */
[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
  margin: 30px 120px;
}

/* --- Yeast Starter Checkbox Label --- */
[type="checkbox"]+label {
  padding-left: 25px;
  padding-top: 30px;
  font-size: 1.5rem;
}

.styleQuestion, .nameQuestion, .grainsQuestion, .hopsQuestion{
  font-size: 4vw;
  font-family: Molengo;
  /*color: white;*/
}

.startNewSession {
  cursor: pointer;
  font-family: Molengo;
  font-weight: Bold;
  font-size: 5.5vw;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center
}

.dropdown-content li>a {
  color: #4984a1
}

.startNewSession:hover {
  font-size: 6vw
}

.beerListItem {
  font-size: 25px;
  cursor: pointer;
}

.beerListItem:hover {
  background-color: #F9C300;
}

.beerListValues {
  font-size: 30px
}

.styleQuestionButton, .nameQuestionButton {
  font-size: 25px;
  margin-bottom: 10px
}

.styleQuestion, .nameQuestion .beerListSelect, .row .col.s12 {
  background-color: white;
  border-radius: 5px;
}

.mainArea {
  margin-top: 10%
}

.row .col.s12 {
  width: 97%;
}

.marginBottom, .doneHopsButton, .addHopsButton, .saveButton {
  margin-bottom: 20px
}

.doneHopsButton, .doneGrainsButton {
  float: right;
}

.doneGrainsButton {
  margin-right: 8px
}

.modal-trigger {
  color: #4984a1;
}

.modal-trigger:hover {
  font-weight: bold;
  font-size: 2.4rem;
}

.btn:hover, .btn-large:hover {
  background-Color: #8D8D8D;
}

.btn-floating:hover {
  background-color: #8d8d8d;
}

.sessionDetails {
  font-family: Comfortaa;
  color: #F9C300
}

/*.belowMainArea, .tableBackground, .hopsRow {
  background-color: white;
}*/
