html {
font-family: GillSans, Calibri, Trebuchet, sans-serif;
}



body {
  background: url("food-cold-wood-hand.jpg");
  background-size: cover;
}


.logo {
  font-size: 65px;
  font-family: Antic Slab;
  text-shadow: 2px 2px black;
  padding-left: 15px;
}

.logo:hover {
  text-shadow: 3px 3px black
}

nav {
  background-color: #F9C300
}

input:not([type]):focus:not([readonly]) {
  border-bottom: 1px solid #DACC28;
  box-shadow: 0 1px 0 0 #CCC7BA;
}

.btn {
  background-color: #000;
}

input:not([type]) {
  color: #8D8D8D;
}

btn:hover {
  background-color: #8D8D8D;
}

.question {
  font-family: Molengo
}

.cheers {
  font-size: 25px;
  text-shadow: 1px 1px black;
  padding-right: 25px;
}

h5 {
  background-color: #95bdc3;
}

td, th {
  padding: 0 0 0 0;
}

input[type=text] {
  margin: 0 0 0 0;
}

/* Beer style and name input style */
input:not([type]) {
  height: 6rem;
  font-size: 5rem;
}

.mashCalc {
  padding-left: 10.875px;
}

.row {
  margin-bottom: 10px;
}

/* --- Header input text --- */
.headerRow input[type=text] {
  font-size: 2vw;

}

/* --- Yeast Starter Checkbox --- */
[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
  margin: 30px 120px;
}

/* --- Yeast Starter Checkbox Label --- */
[type="checkbox"]+label {
  padding-left: 25px;
  padding-top: 30px;
  font-size: 1.5rem;
}

.startNewSession{
  cursor: pointer;

}

.startNewSession, .styleQuestion, .nameQuestion, .grainsQuestion, .hopsQuestion{
  font-size: 5vw;
  font-family: Molengo;
  /*color: white;*/
}

.beerListItem {
  font-size: 25px;
  cursor: pointer;
}

.beerListItem:hover {
  background-color: yellow;
}

.beerListValues {
  font-size: 30px
}

.styleQuestionButton, .nameQuestionButton {
  font-size: 25px
}

.styleQuestion, .nameQuestion .beerListSelect, .row .col.s12 {
  background-color: white;
  border-radius: 5px;
}

.mainArea {
  margin-top: 10%
}

.row .col.s12 {
  width: 97%;
}

.marginBottom, .doneHopsButton, .addHopsButton, .belowMainArea {
  margin-bottom: 20px
}

.modal-trigger {
  color: #4984a1;
}

.btn:hover {
  background-Color: #8D8D8D;
}

.doneGrainsButton {
  position: absolute;

}

.sessionDetails {
  font-family: Comfortaa;
  color: #F9C300
}

/*.belowMainArea, .tableBackground, .hopsRow {
  background-color: white;
}*/
