
body {
  background: url("../images/food-cold-wood-hand.jpg");
  background-size: cover;
}

/* Navigation Bar */
nav {
  background-color: #F9C300
}

/* Navbar BEER DIARY logo styles*/
.logo {
  font-size: 65px;
  font-family: 'Antic Slab';
  text-shadow: 2px 2px black;
}

.logo:hover {
  text-shadow: 3px 3px black
}

.tagline {
  color: white;
  font-family: 'Antic Slab';
  font-size: 30px;
  text-shadow: 1px 1px black;
  background-color: #F9C300;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px
}

/* Beer icon (moved all navbar content down accidentally but I liked it)*/
#beerOutline {
  margin-left: 5px;
  padding-top: 23px;
}

/* Cheers Font and placement */
.cheers {
  font-size: 35px;
  text-shadow: 1px 1px black;
  padding-right: 25px;
  padding-top: 20px;
  color: white
}

.sessionDetails {
  font-family: Comfortaa;
  color: #F9C300
}

/* Beer Style session detail that triggers modal */
.modal-trigger {
  color: #4984a1;
}

.modal-trigger:hover {
  font-weight: bold;
  font-size: 2.4rem;
}

.toast {
  background-color: #F9C300;
  color: black;
  font-weight: bold
}

/*Input label color*/
input[type=text]:focus:not([readonly])+label {
  color: #4984a1
}



/*Removes space between nav bar and content below*/
.belowNav {
  margin-top: -3rem;
}

/* Input line color */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
/*Other Notes input line color*/
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4984a1;
  box-shadow: 0 1px 0 0 #4984a1;
}

.btn, .btn-large {
  background-color: #4984a1;
}

.btn-floating {
  background-color: #4984a1;
  margin-left: 8px
}

/* Next & Save Button Hover Grey */
.btn:hover, .btn-large:hover, .btn-floating:hover {
  background-Color: #8D8D8D;
}

/* Starter checkbox*/
[type="checkbox"]:checked+label:before {
  border-right: 2px solid #F9C300;
  border-bottom: 2px solid #F9C300;
}

/*Gives proper space between table elements*/
.row {
  margin-bottom: 10px;
}

/* Removed unexplained space below Grains Table Header */
.belowGrainsTableHeader {
  margin-bottom: 0
}

.doneGrainsButton {
  margin-right: 8px
}

/* Style, Name, Grain Bill & Hop Bill Font*/
.question {
  font-family: Molengo
}

/* Header stlyes for "Select the correct style" */
h1 {
  font-size: 3vw;
  color: #4984a1;
  font-style: italic;
}

/* Table Header Styles */
h5 {
  background-color: #4984a1;
  color: white;
  padding-left: 5px
}

/* Reduces height of rows in tables */
td, th {
  padding: 0 0 0 0;
}

/* Margins around input fields*/
input[type=text] {
  margin: 0 0 0 0;
}

/* Beer style and name input style */
input:not([type]) {
  color: #8D8D8D;
  height: 4vw;
  font-size: 4vw;
}

/* Padding to align mashCalc link with Mash Schedule inputs */
.mashCalc {
  padding-left: 23.875px;
}


/* --- Header input text --- */
.headerRow input[type=text] {
  font-size: 2vw;

}

/* --- Yeast Starter Checkbox --- */
[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
  margin: 30px 120px;
}

/* --- Yeast Starter Checkbox Label --- */
[type="checkbox"]+label {
  padding-left: 25px;
  padding-top: 30px;
  font-size: 1.5rem;
}

/* Wizard question styles */
.styleQuestion, .nameQuestion, .grainsQuestion, .hopsQuestion{
  font-size: 4vw;
  font-family: Molengo;
}


.startNewSession {
  cursor: pointer;
  font-family: Molengo;
  font-weight: Bold;
  font-size: 5.5vw;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center
}

.startNewSession:hover {
  font-size: 6vw
}

/* Dropdown list styles */
.dropdown-content li>a {
  color: #4984a1
}

/* API beer list styles */
.beerListItem {
  font-size: 25px;
  cursor: pointer;
}

.beerListItem:hover {
  background-color: #F9C300;
}

.beerListValues {
  font-size: 30px
}

.styleQuestionButton, .nameQuestionButton {
  font-size: 25px;
  margin-bottom: 10px
}

.styleQuestion, .nameQuestion .beerListSelect, .row .col.s12 {
  background-color: white;
  border-radius: 5px;
}

/* Keeps proper margin between navbar and mainArea elements */
.mainArea {
  margin-top: 10%
}

/* Weird way to keep table inputs from protruding container */
.row .col.s12 {
  width: 97%;
}

/* margin beneath buttons to keep container below buttons */
.marginBottom, .doneHopsButton, .addHopsButton, .saveButton {
  margin-bottom: 20px
}

/* places table buttons to the right */
.doneHopsButton, .doneGrainsButton {
  float: right;
}
